@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Quicksand:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: black;
    --shadow-color: black;
    --bg-color: white;
    --switch: url(properties/moon-outline.svg);
    --border-link: black;
    --bglink: rgba(0,0,0,0.15);
    --link-hover: rgba(0,0,0,0.3);
    --butact: rgba(0,0,0,0.5);
    --twt: url(properties/light-twt.svg);
    --slink-hover:rgba(0,0,0,0.25);
    --insta: url(properties/light-insta.svg);
    --linkedin:url(./properties/light-linkedin.svg);
}

.dark{
    --text-color: white;
    --shadow-color:#aaa;
    --bg-color: black;
    --switch: url(properties/sun-outline.svg);
    --border-link:white;
    --bglink: rgba(255,255,255,0.15);
    --link-hover: rgba(255,255,255,0.3);
    --butact: rgba(255,255,255,0.5);
    --twt:url(properties/dark-twt.svg);
    --slink-hover: rgba(255,255,255,0.25);
    --insta: url(properties/dark-insta.svg);
    --linkedin:url(./properties/dark-linkedin.svg);
}

body{
    background: var(--bg-color);
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    color: var(--text-color);
    transition: 0.2s;
    margin: 0 24px;
}

#container{
    width: 100%;
    max-width: 600px;
    margin: 24px auto 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: hsla(0, 0%, 50%, 0.5);
    padding: 24px 0;
    box-shadow: 6px 6px 0 var(--shadow-color);
}

#profile{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-weight: 700;
}

#profile>img{
    width: calc(84px + 1vw);
    border: 3px solid var(--border-link);
    border-radius: 50%;
    transition: 0.2s;
}

#profile>img:hover{
    transform: scale(1.20);
}

#button>button{
    width: 80px;
    height: 40px;
    background: var(--switch) no-repeat center;
    background-size: 40%;
    border: 2px solid var(--border-link);
    transition:0.2s;
    cursor: pointer;
    
}

#button>button:hover{
    background-color: var(--link-hover);
}

#button>button:active{
    box-shadow: inset 0px 0px 10px var(--butact);
    transition: 0s;
}

#links{
    display: flex;
    justify-content: center;
}

.links{
    background-color: var(--bglink);
    width: 65%;
    border: 2px solid var(--border-link);
    padding: 10px 0px;
    display: flex;
    color: var(--text-color);
    text-decoration: none;
    justify-content: center;
    transition: 0.2s;
}

.links:hover{
    background-color: var(--link-hover);
}

.links:active{
    box-shadow: inset 0px 0px 10px var(--butact);
    transition: 0s;
}

#container>footer{
    text-align: center;
    font-size: 14px;
}

#social-container{
    display: flex;
    justify-content: center;
}

#twt,#insta,#linkedin{
    box-sizing: content-box;
    padding: 24px;
    display: flex;
    width: 12px;
    height: 12px;
    transition: 0.2s;
    border-radius: 50%;
}

#twt{
    background: var(--twt) no-repeat center;
}

#insta{
    background: var(--insta) no-repeat center;
}

#linkedin{
    background:var(--linkedin) no-repeat center;
}

#insta:hover,#twt:hover,#linkedin:hover{
    background-color: var(--slink-hover);
}

#insta:active,#twt:active,#linkedin:active{
    box-shadow: inset 0px 0px 10px var(--butact);
    transition: 0s;
}

body#resume{
    font-family: Unna, serif;
    margin: 16px;
}
.resume-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 16px 16px;
    gap: 32px;
    background-color: var(--bglink);
}
.data-container>ul{
    list-style: square inside;
}

.title{
    text-indent: 15px;
    background-color: rgba(0,0,0,0.15);
    border-width: 0 0 2px 0;
    border-style: solid;
    font-variant: small-caps;
}
.subtitle{
    margin-bottom: 10px;
}
li{
    font-style: normal;
}
li::after{
    content: ";";
    color: var(--text-color);
}
.final-li::after{
    content: ".";
    color: var(--text-color);
}
.resume-list{
    margin-left: 10px;
}
.backbutton{
    width: 64px;
    height: 64px;
    display: block;
    margin: auto;
    background: url(properties/icons8-esquerda-48.png) no-repeat center;
    background-size: 75%;
    border: 4px solid var(--border-link);
    border-radius: 50%;
    box-shadow: 1px 1px 2.5px var(--butact);
}